@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Poppins:wght@200;600&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    padding: 0%;
    margin: 0%;
}
.main {
    max-height: 1080px;
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.header{
    padding-left: 50px;
    padding-top: 100px;
}
.header img{
    width: 700px;
}

.name {
    padding-top: 70px;
    color: black;
    width: 850px;
}

.name h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-stretch: extra-condensed;
}

.name h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.contact {
    font-size: 30px;
}

.contact i {
    color: #ff2309;
}
.profile img{
    width: 900px;
    position: relative;
    top: -280px;
    left: -60px;
}
.footer{
    position: relative;
    top: -370px;
}
.footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.links a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    font-size: 22px;
}
.slogan {
    position: relative;
    top: -600px;
    padding-left: 20px;
}
.slogan p{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-left: 100px;
}
@media screen and (max-width:1536px) {
    .main {
        max-height: 864px;
        overflow: hidden;
    }
    .header{
        padding-left: 100px;
        padding-top: 100px;
    }
    .header img{
        width: 550px;
    }
    
    .name {
        padding-top: 40px;
        color: black;
        width: 800px;
    }
    
    .name h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        font-stretch: extra-condensed;
    }
    
    .name h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
    .contact {
        padding-top: 20px;
        font-size: 26px;
    }
    .profile img{
        width: 650px;
        position: relative;
        top: -180px;
        left: -130px;
    }
    .footer{
        position: relative;
        top: -250px;
    }
    .footer p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }
    .links a {
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 350;
        font-size: 18px;
    }
    .slogan {
        position: relative;
        top: -400px;
        padding-left: 20px;
    }
    .slogan p{
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding-left: 100px;
    }
}
@media screen and (max-width:1440px) {
    .main {
        max-height: 900px;
        overflow: hidden;
    }
    .header{
        padding-left: 100px;
        padding-top: 100px;
    }
    .header img{
        width: 550px;
    }
    
    .name {
        padding-top: 40px;
        color: black;
        width: 800px;
    }
    
    .name h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 47px;
        font-stretch: extra-condensed;
    }
    
    .name h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
    .contact {
        padding-top: 20px;
        font-size: 26px;
    }
    .profile img{
        width: 650px;
        position: relative;
        top: -160px;
        left: -210px;
    }
    .footer{
        position: relative;
        top: -210px;
    }
    .footer p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    .links a {
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 350;
        font-size: 18px;
    }
    .slogan {
        position: relative;
        top: -400px;
        padding-left: 20px;
    }
    .slogan p{
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding-left: 100px;
    }
}
@media screen and (max-width:1024px) {
    .main {
        max-height: 768px;
        overflow: hidden;
    }
    .header{
        padding-left: 50px;
        padding-top: 100px;
        position: relative;
        top: 20px;
    }
    .header img{
        width: 500px;
    }
    
    .name {
        padding-top: 40px;
        color: black;
        width: 600px;
    }
    
    .name h3 {
        font-size: 33px;
    }
    
    .name h4 {
        font-size: 27px;
    }
    .contact {
        padding-top: 10px;
        font-size: 20px;
    }
    .profile img{
        width: 450px;
        position: relative;
        top: -90px;
        left: -180px;
    }
    .footer{
        position: relative;
        top: -100px;
    }
    .footer p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    .links a {
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 350;
        font-size: 12px;
    }
    .slogan {
        position: relative;
        top: -250px;
        padding-left: 20px;
    }
    .slogan p{
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding-left: 100px;
    }
}
@media screen and (max-width:768px) {
    .main {
        max-height: 1024px;
        overflow: hidden;
    }
    .header{
        padding-left: 50px;
        padding-top: 100px;
        position: relative;
        top: 20px;
    }
    .header img{
        width: 500px;
    }
    
    .name {
        padding-top: 40px;
        color: black;
        width: 600px;
    }
    
    .name h3 {
        font-size: 33px;
    }
    
    .name h4 {
        font-size: 27px;
    }
    .contact {
        padding-top: 10px;
        font-size: 20px;
    }
    .profile img{
        width: 450px;
        position: relative;
        top: -90px;
        left: -180px;
    }
    .footer{
        position: relative;
        top: -100px;
    }
    .footer p {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }
    .links a {
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 350;
        font-size: 12px;
    }
    .slogan {
        position: relative;
        top: -250px;
        padding-left: 20px;
    }
    .slogan p{
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding-left: 100px;
    }
}