@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Poppins:wght@200;600&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    padding: 0%;
    margin: 0%;
}

.main {
    max-height: 100%;
    max-width: 100%;
    height: 968px;
    background: url(./ID.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.log {
    height: 300px;
}

.links a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
}

.name {
    position: relative;
    top: -20px;
}

.name h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-stretch: extra-condensed;
}

.name h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 35px;
}
.contact{
    font-size: 30px;
}
.contact i {
    color: #ff2309;
}

.footer {
    position: relative;
    bottom: -200px;
}

.footer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.slogan {
    position: relative;
    top:20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.id {
    position: relative;
    top: -70px;
    left: 50px;
}
@media screen and (max-width: 600px){
    .main {
            height: 695px;
            background-attachment: fixed;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
}