@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Poppins:wght@200;600;900&family=Roboto:wght@400&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}
.main{
    height: 968px;
    width: 690px;
    background: url(./genman.jpg);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.space{
    height: 500px;
}
.content{
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 41x;
}
.content h2{
    font-size: 30px;
    text-align: center;
}
.title{
    text-align: center;
    color: white;
    position: relative;
    top: -20px;
}
.title p{
    font-size: 25px;
}
.info{
    padding-top: 30px;
    color: white;
    font-size: 18px;
    line-height: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 800px;
    letter-spacing: 2px;
}
.slogan{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: 1px;
}
.slogan .quo{
    color: red;
}
.footer{
    position: relative;
    top: 13px;
}
.link{
    color: white;
    font-size: 12px;
    font-weight: 10px;
    line-height: 17px;
    padding-left: 10px;
}
.link a{
    text-decoration: none;
    color: white;
    font-weight: 100px;
    font-family: 'Roboto', sans-serif;
}
.link i{
    color: red;
}
.address{
    color: white;
    font-size: 12px;
    padding-right: 10px;
}
@media screen and (max-width:425px) {
    .main{
        height: 880px;
        width: 425px;
        background-size: 100% 100%;
    }
    .space{
        height: 470px;
    }
    .content h2{
        font-size: 23px;
    }
    .title{
        padding-top: 30px;
    }
    .title p{
        font-size: 22px;
    }
    .info{
        padding-top: 40px;
        font-size: 12px;
        line-height: 2px;
        letter-spacing: 2px;
    }
    .slogan{
        font-size: 16px;
        padding-top: 28px;
    }
    .footer{
        padding-top: 80px;
    }
    .link{
        font-size: 8px;
        padding-left: 10px;
        line-height: 12px;
    }
    .address{
        font-size: 8px;
        padding-right: 5px;
    }
}
@media screen and (min-width:768px) {
    .main{
        height: 882px;
        width: 600px;
    }
    .space{
        height: 470px;
    }
    .footer{
        padding-top: 50px;
    }
    .title{
        padding-top: 20px;
    }
}
@media screen and (min-width:1024px) {
    .title{
        padding-top: 23px;
    }
    .space{
        height: 470px;
    }
    .footer{
        padding-top: 45px;
    }
}
@media screen and (min-width:1440px) {
    .main{
        height: 980px;
        width: 670px;
    }
    .space{
        height: 500px;
    }
    .content{
        height: 50px;
        padding-top: 20px;
    }
    .footer{
        padding-top: 60px;
    }
    .title{
        padding-top: 45px;
    }
    .slogan{
        font-size: 20px;
        padding-top: 40px;
        letter-spacing: 1px;
    }
}
@media screen and (min-width:2560px) {
    .main{
        height: 1760px;
        width: 1200px;
    }
    .content h2{
        font-size: 50px;
        text-align: center;
    }
    .title{
        padding-top: 80px;
    }
    .title p{
        font-size: 45px;
    }
    .space{
        height: 920px;
    }
    .footer{
        padding-top: 170px;
    }
    .info{
        padding-top: 70px;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 5px;
    }
    .slogan{
        font-size: 40px;
        padding-top: 30px;
    }
    .link{
        font-size: 25px;
        font-weight: 10px;
        line-height: 40px;
        padding-left: 30px;
    }
    .address{
        font-size: 25px;
        padding-right: 30px;
    }
}