@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Poppins:wght@200;600;900&family=Roboto:wght@400&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
}
.main{
    height: 731px;
    width: 411px;
    background: url(./bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.head{
    padding-top: 10px;
    padding-left: 10px;
}
.head img{
    width: 250px;
}
.profile{
    position: relative;
    bottom: -40px;
    padding-left: 10px;
    padding-right: 10px;
}
.profile img{
    width: 230px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.content{
    position: relative;
    top: -20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 70px;
}
.content h2{
    font-size: 20px;
    text-align: center;
}
.title{
    position: relative;
    top:-25px;
    text-align: center;
    color: white;
}
.title p{
    font-size: 18px;
}
.info{
    color: white;
    font-size: 13px;
    line-height: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
.slogan{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 1px;
    position: relative;
    top: 25px;
}
.slogan .quo{
    color: red;
}
.footer{
    position: relative;
    top:90px;
}
.link{
    color: white;
    font-size: 9px;
    font-weight: 10px;
    line-height: 11px;
}
.link a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.link i{
    color: red;
}
.address{
    color: white;
    font-size: 9px;
}
